{% extends "base.html" %}
{% block content %}
    {% include "song/search-form.html" %}
    {% if available %}
        {% include "song/player.html" %}
    {% else %}
        <div class='loading'>
            <h4>{{ song.name }}</h4>
            <!-- Magnet link: {{ torrent.get_magnet }}<br /> -->
            Your song will play in {{ eta }}.
        </div>
        <script>
            setTimeout(function() {
                window.location.reload(true);
            }, 1000);
        </script>
    {% endif %}
{% endblock %}
{% block id %}listen{% endblock %}
